<!-- <section id="contact">
  <div class="contact-box row">
    <div class="contact-links col-md-4">
      <h2>CONTACT</h2> -->
      <!-- <div class="links">
        <div class="link">
          <a><img src="https://i.postimg.cc/m2mg2Hjm/linkedin.png" alt="linkedin"></a>
        </div>
        <div class="link">
          <a><img src="https://i.postimg.cc/YCV2QBJg/github.png" alt="github"></a>
        </div>
        <div class="link">
          <a><img src="https://i.postimg.cc/W4Znvrry/codepen.png" alt="codepen"></a>
        </div>
        <div class="link">
          <a><img src="https://i.postimg.cc/NjLfyjPB/email.png" alt="email"></a>
        </div>
      </div> -->
    <!-- </div>
    <div class="contact-form-wrapper col-md-8">
      <form> -->
        <!-- <div class="form-item">
          <input type="text" name="sender" required>
          <label>Name:</label>
        </div>
        <div class="form-item">
          <input type="text" name="email" required>
          <label>Email:</label>
        </div>
        <div class="form-item">
          <textarea class="" name="message" required></textarea>
          <label>Message:</label>
        </div> -->
        <!-- <button class="submit-btn" (click)="openEmail()">Send Email</button>  
      </form>
    </div>
  </div>
</section> -->



<!-- <div class="row">
  <div class="contact-links col-md-4">
    <h3>CONTACT</h3>
  </div>
  <div class="contact-form-wrapper col-md-8">
    <button style="margin-top: 15px" class="submit-btn" (click)="openEmail()">Send Email</button>  
  </div>
</div> -->


