<!-- Add font-awesome icons library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row container-fluid">

  <!-- Right Portion -->
  <div class="container-fluid col-md-6">

    <!-- Image Space -->
    <img class="img-fluid" src="../../../assets/propng2.png" alt="Programming Avatar">

  </div>

  <!-- Left Portion -->
  <div class="container-fluid col-md-6 left-portion">
    <div class="personal-details">

      <!-- Name & Title -->
      <h1 class="name">Krishan Kumar Pareek</h1>
      <p class="title">Full Stack Web Developer!</p>

      <!-- Social Media Icons -->
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-github"></a>
      <a href="#" class="fa fa-stack-overflow"></a>
      <a href="#" class="fa fa-instagram"></a>

    </div>
  </div>
</div>