<div class="user">
  <!-- Technology Stack #1: Languages -->
  <div class="tech">
    <h2>Languages</h2>
    <i class="devicon-python-plain colored icon"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-cplusplus-plain colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <p>My favorite languages for systems programming, software engineering, and data analysis.</p>
  </div>

  <!-- Technology Stack #2: Front-End -->
  <div class="tech">
    <h2>Front-End</h2>
    <i class="devicon-react-original colored"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <p>My preferred technologies for front-end web development and component design.</p>
  </div>

  <!-- Technology Stack #3: Back-End -->
  <div class="tech">
    <h2>Back-End</h2>
    <i class="devicon-nodejs-plain colored"></i>
    <i class="devicon-express-original-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <p>My preferred technologies for back-end web programming and database architecture.</p>
  </div>

  <!-- Technology Stack #4: Tools -->
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-github-plain-wordmark colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <p>My favorite tools for version control, code editing, and container orchestration.</p>
  </div>
</div>